fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
motor==3.6.0
pydantic-settings==2.7.1
httpx==0.28.1
razorpay==1.4.2
setuptools==75.6.0
pytest==8.3.4
redis==5.2.1
